.page-wrapper{
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;

    grid-template-areas:
        "top-left   top     top-right"
        "left       center  right"
        "bottom-left bottom bottom-right";

    max-height: max-content;
    padding: 24px;
}

.time-wrapper {
    grid-area: top-left;
}

.breath-tracker {
    grid-area: top;
}

.exercise-icon {
    grid-area: top-right;
}

.center-block {
    grid-area: center;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.view-buttons {
    grid-area: right;
}

.title {
    grid-area: bottom-left;
}

:global(body){
    margin: 0;
    transition: background-color 0.4s ease;
}

:global(.background-main){
    background-color: rgb(26, 101, 176);
}

:global(.background-green){
    background-color: rgb(29, 130, 76);
}

:global(.background-yellow){
    background-color: rgb(201, 201, 48);
}

:global(.background-red){
    background-color: rgb(176, 26, 26);
}

:global(.background-dim){
    background-color: rgb(45, 62, 96);
}

.timer{
    background-color: rgb(199, 30, 97);
    padding: 1rem;
    border: solid 6px white;
    border-radius: 2px;
    height: 200px;
    width: 350px;
    border-radius: 20%;

    display: flex;
    flex-direction: column;
}

.time-text{
    position: relative;
    color: #ffffff;
    display: flex;
    padding: 20px;
    font-size: 2rem;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.timer-buttons{
    position: relative;
    display: flex; /* buttons are in rows */
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.timer-control{
    border-radius: 20%;
    padding: 10px;
    background-color:#7cabd7;
}

.timer-stop{
    border-radius: 20%;
    padding: 10px;
    background-color:#7cabd7;
}

.breath-container {
    --size: 180px;

    left: 30%;
    top: 10%;
    height: var(--size); 
    width: var(--size);
    position: relative; 
    transform: scale(1);
}

.gradient-circle {
    background: conic-gradient( 
        #55b7a4 0%, 
        #56a595 21%,
        #ffffff 21%, 
        #ffffff 58%, 
        #0f3830 58%, 
        #1f5046 100% 
    ); 
    width: calc(var(--size) * 1.08);
    height: calc(var(--size) * 1.08);
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: -2; 
    border-radius: 50%; 
    position: absolute;
}

.circle {
    background-color: #7cabd7; 
    height: 100%; 
    width: 100%; 
    top: 0; 
    left: 0; 
    border-radius: 50%;
    z-index: -1;
}

.text {
    position: absolute;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 3;
    pointer-events: none;

    text-align: center;
    font-size: 12px;
    color: white;
}

.pointer-container{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    animation: rotate 18s linear infinite;
    transform-origin: bottom center;
}

.pointer{
    background-color:#ffffff;
    border-radius: 50%;
    top: 0;
    left: 50%;
    position: absolute;
    transform:
        translate(-50%, -50%)
        translateY(calc(var(--size) * -0.5));

    width: calc(var(--size) * 0.07);
    height: calc(var(--size) * 0.07);
}

@keyframes rotate{
    from {
        transform: rotate(0deg) ;
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes grow{
    from {
        transform: scale(1) ;
    }

    to {
        transform: scale(1.2);
    }
}

@keyframes shrink{
    from {
        transform: scale(1.2) ;
    }

    to {
        transform: scale(1);
    }
}

.grow {
    animation: grow 4s linear forwards;
}

.shrink {
    animation: shrink 8s linear forwards;
}

.image-wrapper {
    position: absolute;
    inset: 0;
}

.exercise-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;

    object-fit: cover;

    opacity: 0;
    transition: opacity 1s ease;
}

.image-active {
    opacity: 1;
}

.circle-container {
    position: relative;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
    border: 6px solid rgb(255, 255, 255);
}

.button-list {
    display: flex;

    flex-direction: column;
    gap: 40px;
}

.view-button{
    border-radius: 20%;
    padding: 10px;
    background-color:#de2e2e;
    max-width: 50%;
    border: solid 6px white;

    align-items: center;
    justify-content: center;
}


