.character-container {
    position: relative;
    height: 400px;
    width: 700px;
    background-color: rgb(161, 168, 165);
    z-index: 1;
    border-radius: 20%;
    border: solid 6px white;


    display: flex;
    align-items: center;      /* vertical centering */
    justify-content: center;  /* horizontal centering */
}

.character-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
    display: block;
}